<div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="http://www.gob.mx/"><i class="icon icon-home"></i></a></li>
      <li><a href="#" onclick="javascript:showLogin();">Inicio</a></li>
      <li><b id="labelMenu">Administración de usuarios</b></li>
    </ol>
  </div>
  
  <div class="col-md-12">
      <div class="form-group">
        <h1>Administración de usuarios</h1>
        <hr class="red">
      </div>
  </div>

  <div class="col-md-12">
    <div class="row bottom-buffer">
      <div class="col-md-6">
        <div class="form-group">
          <div class="form-group-icon">
            <input type="text" placeholder="Búsqueda de usuarios" class="form-control" required="true" value="">
            <button type="button" class="blue-right btn" id="btn-simple-search">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-3">
        <div class="form-group">
          <a href="/user-register" class="btn btn-block btn-primary">
              Agregar <span class="glyphicon" aria-hidden="true"></span> 
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Apellido paterno</th>
                      <th>Apellido matermo</th>
                      <th class="text-center">Fecha de registro</th>
                      <th class="text-center">Activo</th>
                      <th class="text-center">Detalle</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Ejemplo</td>
                      <td>Apellido</td>
                      <td>Apellido</td>
                      <td class="text-center">17/11/2017</td>
                      <td class="text-center">
                        <span class="glyphicon glyphicon glyphicon-ok custom-gly-ok" aria-hidden="true"></span>
                      </td>
                      <td class="text-center">
                        <a href="/#">
                          <span class="glyphicon glyphicon-eye-open custom-gly-eye-open" aria-hidden="true"></span>
                        </a>
                      </td>
                  </tr>
                  <tr>
                      <td>Ejemplo</td>
                      <td>Apellido</td>
                      <td>Apellido</td>
                      <td class="text-center">17/11/2017</td>
                      <td class="text-center">
                        <span class="glyphicon glyphicon glyphicon-remove custom-gly-remove" aria-hidden="true"></span>
                      </td>
                      <td class="text-center">
                        <a href="/#">
                          <span class="glyphicon glyphicon-eye-open custom-gly-eye-open" aria-hidden="true"></span>
                        </a>
                      </td>
                  </tr>
            
              </tbody>
            </table>
      </div>
    </div>

  </div>