<!--Alertas-->

<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Felicidades!</strong> Lorem .
</div>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-3 control-label" for="email-03">Correo electrónico:</label>
    <div class="col-sm-9">
      <input class="form-control" id="email-03" placeholder="Correo electrónico" type="text">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="password-03">Contraseña:</label>
    <div class="col-sm-9">
      <input class="form-control" id="password-03" placeholder="Contraseña" type="password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <!--<button type="button" class="btn btn-link" data-toggle="modal" data-target="#foo">Recuperar mi contraseña</button>-->
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#foo">Recuperar mi contraseña</button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button class="btn btn-primary pull-right" type="submit">Enviar</button>
    </div>
  </div>
</form>
