  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="http://www.gob.mx/"><i class="icon icon-home"></i></a></li>
      <li><a href="#" onclick="javascript:showLogin();">Inicio</a></li>
      <li><b id="labelMenu">Iniciar sesión</b></li>
    </ol>
  </div>
  
  <div class="col-md-12">
      <div class="form-group">
        <h1>Iniciar Sesion</h1>
        <hr class="red">
      </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <strong>¡Atención!</strong> El nombre de usuario y/o contraseña son incorrectos, favor de intentarlo de nuevo.
          </div>
    </div>
  </div>

<form role="form">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label" for="emailUser">Correo electrónico:</label>
          <input class="form-control" id="emailUser" placeholder="Correo electrónico" type="text">
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label" for="password">Contraseña</label>
          <input class="form-control" id="password" placeholder="Contraseña" type="password">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <button type="button" class="btn btn-link" routerLink="/recupera-contrasenia">Recuperar mi contraseña</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <button class="btn btn-primary pull-right" type="submit">Enviar</button>
        </div>
      </div> 
    </div>
  </div>
</form>

<!--Modal window-->
<div class="modal" id="foo">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Recuperar contraseña</h4>
      </div>
      <div class="modal-body">
        
        <form class="form-horizontal" role="form">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="emailRecover">Correo electrónico:</label>
              <input class="form-control" id="emailRecover" placeholder="Correo electrónico" type="text">
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Recuperar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->