  <div class="container">
    <div class="panel panel-default">
     
  
      <div class="panel-body">

          <div class="alert alert-success alert-dismissible" *ngIf="mostrar">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{respuesta}}
          </div>

        <form action="" novalidate [formGroup]='recuperaForm' (ngSubmit)="recuperarContrasenia(recuperaForm.value)">
  
          <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Correo electrónico">
          </div>
  
          <!--Catálogo de errores email-->
          <div *ngIf="recuperaForm.controls.email.errors && recuperaForm.controls.email.dirty">
            <div *ngIf="recuperaForm.controls.email.valid && recuperaForm.controls.email.touched" class="alert alert-danger">
              * Este campo es requerido
            </div>
            <div *ngIf="recuperaForm.controls.email.errors.email" class="alert alert-danger">
              * Este campo requiere un correo electrónico válido
            </div>
          </div>
    
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!recuperaForm.valid">Recuperar</button>
  
        </form>
      </div>
    </div>
  </div>