<table class="table table-striped">
  <thead>
      <tr>
          <th>No.</th>
          <th>Nombre</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Email</th>
          <th>Perfil</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let usuario of usuarios | async; let i = index">
          <td class="text-center">{{i + 1}}</td>
          <td>{{usuario.nombre}}</td>
          <td>{{usuario.apellidoPaterno}}</td>
          <td>{{usuario.apellidoMaterno}}</td>
          <td>{{usuario.correoElectronico}}</td>
          <td>Usuario App</td>
      </tr>

  </tbody>
</table>
