<div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="http://www.gob.mx/"><i class="icon icon-home"></i></a></li>
      <li><a href="#" onclick="javascript:showLogin();">Inicio</a></li>
      <li>Administración de usuarios</li>
      <li><b id="labelMenu">Registro de usuario</b></li>
    </ol>
  </div>
  
  <div class="col-md-12">
      <div class="form-group">
        <h1>Registro de usuario</h1>
        <hr class="red">
      </div>
  </div>

  <div class="col-md-12">
      <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#informacionGeneralTab">Información general</a></li>
          <li><a data-toggle="tab" href="#perfilesTab">Perfiles</a></li>
        </ul>
        <div class="tab-content">
          <!-- informacionGeneralTab -->
          <div class="tab-pane active" id="informacionGeneralTab">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="correoElectronico">Correo electrónico *: </label>
                    <input class="form-control" type="text" name="correoElectronico" id="correoElectronico" value="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fechaNacimiento">Fecha de nacimiento *: </label>
                    <input class="form-control" type="date" name="fechaNacimiento" id="fechaNacimiento" value="">
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="nombre">Nombre *: </label>
                    <input class="form-control" type="text" name="nombre" id="nombre" value="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="apellidoPaterno">Apellido paterno *: </label>
                    <input class="form-control" type="text" name="apellidoPaterno" id="apellidoPaterno" value="">
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="apellidoMaterno">Apellido materno *: </label>
                    <input class="form-control" type="text" name="apellidoMaterno" id="apellidoMaterno" value="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="institucion">Institución *: </label>
                    <input class="form-control" type="text" name="institucion" id="institucion" value="">
                  </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="contrasenia">Contraseña *: </label>
                    <input class="form-control" type="password" name="contrasenia" id="contrasenia" value="">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="confirmaContrasenia">Confirmar contraseña *: </label>
                    <input class="form-control" type="password" name="confirmaContrasenia" id="confirmaContrasenia" value="">
                  </div>
                </div>

                <div class="clearfix"></div>
               
                <!-- Seccion botones informacionGeneralTab -->
                <div class="col-md-8 col-md-offset-4">
                  <hr>
                </div>

                <div class="col-md-12">
                  <div class="clearfix">
                    <div class="pull-left text-muted text-vertical-align-button">
                      * Campos obligatorios
                    </div>
    
                    <div class="pull-right">
                      <button class="btn btn-default" type="submit">Cancelar</button>
                      <button class="btn btn-primary" type="submit">Siguiente</button>  
                    </div>
                  </div>
                </div><!-- / Seccion botones informacionGeneralTab -->
                
              </div>
            </div>
          </div> <!-- / informacionGeneralTab -->

          <!-- perfilesTab -->
          <div class="tab-pane" id="perfilesTab">

            <div class="col-md-12">
              <label>Perfiles</label>
            </div>

              <!-- Seccion botones perfilesTab -->
              <div class="col-md-8 col-md-offset-4">
                  <hr>
                </div>

                <div class="col-md-12">
                  <div class="clearfix">
                    <div class="pull-left text-muted text-vertical-align-button">
                      * Campos obligatorios
                    </div>
    
                    <div class="pull-right">
                      <button class="btn btn-default" type="submit">Regresar</button>
                      <button class="btn btn-primary" type="submit">Registrar usuario</button>
                    </div>
                  </div>
                </div><!-- / Seccion botones perfilesTab -->
              
          </div><!-- / perfilesTab -->

        </div>
  </div>