/* You can add global styles to this file, and also import other style files */
h1{
    font-size: 38px !important;
}
.custom-gly-ok{
    background: #38d637;
    border-radius: 30px;
    padding: 7px;
    font-size: 11px;
    color: #fff;
}
.custom-gly-eye-open{
    font-size: 20px;
    color: #4a90e2;
    padding-top: 4px;
}
.custom-gly-remove{
    background: #d64737;
    border-radius: 30px;
    padding: 7px;
    font-size: 11px;
    color: #fff;
}
.tab-content{
    overflow: hidden !important;
}
/* clase para bajar alerta de Inicio de Campaña*/
header .alert{
    margin-top: 60px; 
}